blis
boto3
botocore
certifi
chardet
Click
cymem
docutils
Flask
gunicorn
idna
itsdangerous
Jinja2
jmespath
jsonschema
MarkupSafe
murmurhash
neuralcoref
nltk
numpy
pandas
plac
preshed
pymongo
python-dateutil
pytz
requests
s3transfer
six
spacy==3.3.1
srsly
thinc
tqdm
urllib3
wasabi
Werkzeug
xlrd

openpyxl
ipywidgets
matplotlib
python -m spacy download en_core_web_lg
